#resume {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#about-me {
  width: 60%;
  float: left;
  margin-left: 10%;
  margin-bottom: 30px;
  text-align: justify;
  font-size: 0.8em;
}

#tech {
  display: block;
  clear: both;
  width: 88%;
  margin-right: auto;
  margin-left: auto;
  font-size: 1em;
}

#tech ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: none;
}

#social {
  text-align: center;
  margin-bottom: 30px;
}

#git-social {
  background-color: black;
}

#headshot {
  display: block;
  margin-right: 10%;
  width: 15%;
  height: 15%;
  border-radius: 250px;
  float: right;
  clear: both;
}
