* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}

a:hover {
  cursor: pointer;
}

.link:hover {
  cursor: pointer;
}

#page-footer {
  text-align: center;
  height: 65px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkgray;
  color: white;
  font-size: 0.9em;
  padding-top: 1%;
  padding-bottom: 1%;
}

.hidden {
  display: none;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.footer {
  padding: 9px;
}

@media only screen and (min-width: 700px) {
  .title {
    margin-bottom: 20px;
    text-align: center;
    padding-top: 50px;
  }
}
