#intro {
  text-align: center;
  height: 60px;
}

#hello {
  font-size: 1em;
}

#imma {
  font-size: 0.8em;
}

#nav-group {
  width: 90%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  margin-top: 5%;
  padding: 10px;
}

#projects,
#about {
  width: 42%;
  height: 120px;
  font-family: "Russo One", sans-serif;
  text-align: center;
  border-radius: 4px;
  color: white;
  padding-top: 40px;
  padding-left: 10px;
  text-shadow: 2px 3px 10px #285eff;
}

#projects {
  display: block;
  float: left;
  background-image: url("../images/code1.png");
  background-size: 200%;
}

#projects h2 {
  font-size: 1.6em;
}
#about h2 {
  font-size: 1.6em;
}

#about {
  margin-left: 15%;
  background-image: url("../images/code2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.cool-things {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.cool-things ul {
  text-align: justify;
  font-size: 0.9em;
  padding: 10px;
}

.cool-things h3 {
  text-align: center;
  text-decoration: underline;
  font-size: 1.2em;
}

@media only screen and (min-width: 750px) {
  #intro {
    text-align: center;
    height: 100px;
  }

  #hello {
    font-size: 2em;
  }

  #imma {
    font-size: 1.8em;
  }

  #nav-group {
    width: 80%;
    height: 200px;
  }

  #projects,
  #about {
    width: 64%;
    height: 200px;
    padding-top: 80px;
  }

  .cool-things {
    margin-top: 35px;
  }

  .cool-things ul {
    font-size: 1.2em;
  }

  .cool-things h3 {
    font-size: 1.8em;
  }
}
