/* Intro Zone */

#intro {
  position: relative;
  text-align: center;
  height: 65vh;
  font-family: "Rammetto One", cursive;
  margin-bottom: 0;
}

#hexagon {
  padding-top: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#hello {
  font-size: 1em;
}

#imma {
  font-size: 0.8em;
}

#greet {
  margin-top: 15vh;
}

#learn {
  position: absolute;
  display: inline-block;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: auto;
}

/* Cool things zone */
.cool-things {
  margin-bottom: 20px;
  padding: 55px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: DimGrey;
  color: white;
}

.cool-things a:link {
  color: #98e6e4;
}

.cool-things a:visited {
  color: #98e6e4;
}

.cool-things ul {
  text-align: justify;
  font-size: 0.9em;
  padding: 10px;
}

.cool-things h3 {
  text-align: center;
  font-size: 1.2em;
}

/* Desktop/tablet */
@media only screen and (min-width: 750px) {
  #hexagon {
    padding-top: 60px;
    width: 10%;
  }

  #intro-section {
    margin: 0;
    background-image: url("../images/pexels-photo.png");
    background-size: cover;
    background-color: white;
  }

  #hello {
    font-size: 2em;
  }

  #imma {
    font-size: 1.8em;
  }

  #nav-group {
    width: 80%;
    height: 200px;
  }

  #projects,
  #about {
    width: 34%;
    height: 200px;
    padding-top: 80px;
  }

  .cool-things {
    height: 450px;
    padding-top: 10%;
  }

  .cool-things ul {
    font-size: 1.2em;
  }

  .cool-things h3 {
    font-size: 1.8em;
  }
}
