#project-list {
  width: 75%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#project-list a:visited {
  text-decoration: none;
  color: white;
}

#project-list a:hover {
  cursor: pointer;
  color: white;
}

#project h2 {
  font-size: 1.1em;
}

.thumbnail {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
}

.stack {
  font-weight: bold;
  padding-top: 5px;
  margin-bottom: 60px;
}

#github-btn {
  margin: 10px 0 10px 6%;
}

.proj-button {
  display: block;
  background-color: darkcyan;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
}

#demo-btn {
  z-index: -2;
  width: 40%;
  margin: 10px 0 10px 33%;
}

.description {
  margin-top: 5px;
  font-size: 0.8em;
}

@media only screen and (min-width: 700px) {
  #project-list {
    width: 85%;
  }

  #project h2 {
    font-size: 1.8em;
  }

  .stack {
    font-weight: bold;
    font-size: 1.2em;
  }

  .description {
    margin-top: 18%;
    display: block;
    font-size: 1em;
    clear: both;
  }
  .thumbnail {
    width: 355px;
    height: 255px;
    float: left;
    object-fit: cover;
  }

  #github-btn {
    margin-left: 50%;
    width: 35%;
    position: absolute;
  }

  #demo-btn {
    float: clear;
    width: 35%;
    margin-left: 50%;
  }
}
